{% extends "app_main/customer-profile.html" %}
    {% block profile_content  %}
<h2>تنظیمات من</h2>
         <form action="#">
            <p>
              <label>
                <input type="checkbox" />
                <span>عضویت در نوتیفایر</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" />
                <span>نمایش ایمیل</span>
              </label>
            </p>
         </form>


    {% endblock profile_content %}
