{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="../../static/css/simplemde.min.css">

</head>
<body>
            <ul id="pro-sidenav-1" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                      <div class="background">
                        <img src="https://materializecss.com/images/office.jpg">
                      </div>
                      <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
                      <a class="right-align" href="#name"><span class="white-text name">رضا یزدانی</span></a>
                      <a class="right-align" href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a class="right-align waves-effect" href="{% url 'my_saved_products' %}">محصولات ذخیره شده من<i class="material-icons right">bookmark</i></a></li>
                <li><a class="right-align waves-effect" href="#!">محصولات خریداری شده ی من<i class="material-icons right">local_grocery_store</i></a></li>
                <li><a class="right-align waves-effect" href="#!">ارتباط با واحد فروش<i class="material-icons right">headset_mic</i></a></li>
                <li><div class="divider"></div></li>
                <li><a class="right-align waves-effect" href="{% url 'customer_profile_detail' %}">پروفایل<i class="material-icons right">person</i></a></li>
                <li><a class="right-align waves-effect" href="{% url 'customer_profile_settings' %}">تنظیمات<i class="material-icons right">settings</i></a></li>
            </ul>
<main>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container" >
      <a id="logo-container" href="#" class="brand-logo" ><i class="material-icons">audiotrack</i>رِز موزیک</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'customer_profile' %}">پروفایل</a></li>
        <li><a href="#">همکاری با ما</a></li>
        <li><a href="{% url 'home' %}">خانه</a></li>
          <li>
          <a  href="#">ورود | ثبت نام</a>
        </li>
      </ul>



      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">ورود | ثبت نام</a></li>
        <li><a href="{% url 'home' %}">خانه</a></li>
        <li><a href="{% url 'music_detail'%}">درباره سایت</a></li>
        <li><a href="#">همکاری با ما</a></li>
        <li><a href="{% url 'customer_profile' %}">پروفایل</a></li>




      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<div class="container">
    <div class="section">
       {% block profile_content %}{% endblock profile_content%}
    </div>
</div>
<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">درباره سایت</h5>
          <p class="grey-text text-lighten-4">گوگل (به انگلیسی: Google) یک شرکت آمریکایی فعال در حوزهٔ فناوری اطلاعات شامل جستجوی اینترنتی، رایانش ابری و تبلیغات، نرم‌افزار و سخت‌افزار است. این شرکت توسط لری پیج و سرگئی برین تأسیس شد که هر دوی آن‌ها در دانشگاه استنفورد به عنوان دانشجوی دکترا حضور داشتند.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">مطالب سایت</h5>
          <ul>
            <li><a class="white-text" href="#!">مطلب 1</a></li>
            <li><a class="white-text" href="#!">مطلب 2</a></li>
            <li><a class="white-text" href="#!">مطلب 3</a></li>
            <li><a class="white-text" href="#!">مطلب 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">لینک های مفید</h5>
          <ul>
            <li><a class="white-text" href="#!">لینک 1</a></li>
            <li><a class="white-text" href="#!">لینک 2</a></li>
            <li><a class="white-text" href="#!">لینک 3</a></li>
            <li><a class="white-text" href="#!">لینک 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <i class="pointing-arrow">رِز  </i><a class="yellow-text text-lighten-3" href="http://materializecss.com">طراحی</a>
      </div>
    </div>
  </footer>
</main>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../static/js/materialize.js"></script>
  <script src="../../static/js/init.js"></script>


  </body>
</html>
