{% extends "app_main/base.html" %}


{% block content  %}
<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s4 m4">
                <div class="left icons-div icons-style">
                    <i id="red-fav" class="material-icons favorite">favorite_border</i>
                    <i class="material-icons share">share</i>
                    <i class="material-icons bookmark">bookmark_border</i>
                </div>
            </div>
            <div class="col s8 m8"><h3>پایتون مقدماتی - نصب پایتون</h3></div>
        </div>



         <div class="col s12 m12">
            <div id="3604715425"><script type="text/JavaScript"
                 src="https://www.aparat.com/embed/Y7lfU?data[rnddiv]=3604715425&data[responsive]=yes&&recom=none">
            </script></div>
        </div>



        <div class="center">
                    <a class="btn tooltipped m" data-position="right" data-tooltip="قسمت بعدی" href="#"><i class="material-icons">navigate_next</i></a>
                    <a class="btn tooltipped m" data-position="left" data-tooltip="قسمت قبلی" href="#"><i class="material-icons">navigate_before</i></a>
        </div>
        <h4>توضیحات</h4>
        <div class="card-panel">
            <p>
                لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
            </p>
            <br>
            <a href="{% url 'solve_exercise' %}" class="solve-exercise"><span><b>حل تمرین های این قسمت</b></span></a>
        </div>
    <h4>فایل های مرتبط با این قسمت :</h4>
        <br>
    <div class="container">
        <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel indigo darken-1 center">
                        <a class="white-link" href="#">
                        <span class="attachment-files">sample.csv  </span>
                        </a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card-panel blue center">
                        <a class="white-link" href="#">
                        <span class="attachment-files">sample.csv  </span>
                        </a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card-panel green  center">
                        <a class="white-link" href="#">
                        <span class="attachment-files">sample.csv  </span>
                    </a>
                    </div>
                </div>
        </div>
    </div>


    </div>

    <div class="section">
                <h3>نظرات</h3>
                <div class="row card-panel valign-wrapper thin-card">
                    <div class="col s2 m2 center hide-on-small-only">
                        <div>
                                <img class="responsive-img img-frame"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTU53EcOIyxE7pOZJBvGHJGbDk39EYxvOhbdw&usqp=CAU"
                                 alt="avatar">
                        </div>
                        <div>test_user</div>
                    </div>
                    <div class="col s12 m12">
                        <div class="left icons-style">
                            <a class="white-link" href="#">
                                <i class="material-icons blue tiny tooltipped" data-position="top" data-tooltip="موافقم">thumb_up</i>
                            </a>
                            <a class="white-link" href="#">
                                <i class="material-icons red tiny tooltipped" data-position="top" data-tooltip="مخالفم">thumb_down</i>
                            </a>
                            <a class="white-link modal-trigger" href="#comment-modal">
                                <i class="material-icons green tiny tooltipped" data-position="top" data-tooltip="پاسخ به این نظر">reply</i>
                            </a>
                        </div>
                        <div class="hide-on-med-and-up">
                                <p>نظر از: <b>test_user</b> </p>
                        </div>
                        <p> استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند ویدئوی خوبی بود!</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col s10 m10 card-panel valign-wrapper">
                        <div class="col s2 m2 center hide-on-small-only">
                            <div>
                                    <img class="responsive-img img-frame m-t-5"
                                src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=800&q=70"
                                     alt="avatar">
                            </div>
                            <div class="absolute-div">angry_user</div>
                        </div>

                        <div class="col s10 m10">
                            <div class="left icons-style m-t-5">
                                <a class="white-link" href="#">
                                    <i class="material-icons blue tiny tooltipped" data-position="top" data-tooltip="موافقم">thumb_up</i>
                                </a>
                                <a class="white-link" href="#">
                                    <i class="material-icons red tiny tooltipped" data-position="top" data-tooltip="مخالفم">thumb_down</i>
                                </a>
                            </div>
                            <div class="hide-on-med-and-up">
                                <p>نظر از: <b>angry_user</b> </p>
                            </div>
                            <p>چی میگی ناموسا؟؟</p>
                        </div>

                    </div>
                    <div class="col s2 m2 rep-div">
                        <i class="material-icons rep-icon">reply</i>
                    </div>
                </div>
    </div>

    <div class="section">
                      <!-- Modal Trigger -->
              <a class="btn modal-trigger" href="#comment-modal">میخوام نظر بدم!</a>

              <!-- Modal Structure -->
              <div id="comment-modal" class="modal">
                <div class="modal-content">
                  <h4>نظر شما</h4>
                    <div class="row">
                        <form class="col s12 m12">
                          <div class="row">
                            <div class="input-field col s12 m12 comment-label">
                              <i class="material-icons prefix">mode_edit</i>
                              <textarea id="icon_write" class="materialize-textarea"></textarea>
                              <label class="active" for="icon_write">متن نظر</label>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close btn">ثبت کن</a>
                </div>
              </div>
    </div>
</div>


{% endblock content %}