{% extends "app_main/base.html" %}

{% block content  %}

    <div class="container">
        <div class="section">
            <h2>به دست آوردن سری فیبو</h2>
            <div class="card-panel">
                <p>
                    لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                </p>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <!-- -->
                     <div id="3604715425"><script type="text/JavaScript"
                         src="https://www.aparat.com/embed/Y7lfU?data[rnddiv]=3604715425&data[responsive]=yes&&recom=none">
                                        </script>
                    </div>

                </div>

                <div class="col s12 m6">

                        <div class="col s12 m6">
                            <div class="card-panel blue center">
                                <a class="white-link" href="#">
                                <span class="attachment-files">sample.csv  </span>
                                </a>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card-panel teal center">
                                <a class="white-link" href="#">
                                <span class="attachment-files">sample.pdf  </span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s11 m11 card-panel blue lighten-4 right">
                    <pre class="orange lighten-1" style="direction:ltr">

                        def f():
                            return True
                    </pre>
                    <p>محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند</p>
                    <hr>
                    <div><i class="material-icons blue-text" style="position:absolute;">done_all</i><span style="margin-right:30px;">پیام شما در ساعت 7:45 ب.ظ دیده شد.</span></div>
                </div>
            </div>
                <div class="row">
                    <div class="col s11 m11 card-panel light-green accent-1">
                        <p>دریافت شد همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده</p>
                        <hr>
                        <div><i class="material-icons blue-text" style="position:absolute;">done_all</i><span style="margin-right:30px;">پیام شما در ساعت 10:15 ب.ظ دیده شد شد.</span></div>
                    </div>
                </div>
        </div>
        <div class="section">
            <form class="row" method="GET">
              <textarea class="col s12 m12 custom-textarea">write your python code in next line and watch the syntax:</textarea>
            </form>
            <button type="submit" class="btn">ثبت کد</button>
            <div class="m"></div>
            <div class="row">
                <form class="col s12" method="GET">
                  <textarea class="col s12 m12 simple-md-editor"></textarea>
                </form>
                <button type="submit" class="btn">
                        ارسال
                </button>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="../../static/js/markdown.js"></script>

{% endblock content %}