{% extends "app_main/base.html" %}
{% block content  %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col m6 offset-m3">
                    <div class="card-panel">
                        <h4 class="center">ورود به سایت</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <div class="center">
                                <button class="btn waves-effect" type="submit" style="width:100%;">
                                    ورود
                                </button>
                            </div>
                        </form>
                        <div class="small-in-login">
                            <small>
                              حسابی ندارید؟
                                <a href="{% url 'app_user:user-register' %}">
                                     همین حالا ثبت نام کنید!
                                 </a>
                            </small>
                        </div>
                        <div>
                            <small>
                            <a href="{% url 'app_user:password_reset' %}">
                             رمزم رو فراموش کردم!
                            </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
